@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Secular+One');

.cont-detail {
    width: 100%;

}

.img-detail img{
    width: 25rem;
}



.product-name-detail {
    font-family: 'Fredoka One', sans-serif, sans-serif;
    font-size: 36px;
    color: #404E65;
    margin-bottom: 1.5rem;

}

.product-description {
    font-size: 20px;
    margin-bottom: 1rem;
}

.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-8 {
  margin-top: 5rem;
}

.MuiGrid-container  {
    @media screen and (min-device-width: 320px) and (max-device-width: 480px) {
        flex-direction : column;
        
    }
}

.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-8  {
    @media screen and (min-device-width: 320px) and (max-device-width: 480px) {
        flex-grow: 0;
        max-width: max-content;
        margin-left: 1rem;
         
        
    }
}

.img-detail img{
    @media screen and (min-device-width: 320px) and (max-device-width: 480px){
        width: 15rem;
    }
    
}

.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-4 {
    @media screen and (min-device-width: 320px) and (max-device-width: 480px){
        flex-grow: 0;
        max-width: max-content;
    }
}  
    