@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Secular+One');




.cart-titel  {
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
     margin-bottom: 5rem;
}

.cart-titel h1 {
    font-size: 48px;
    font-family: "Fredoka One", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    
}


.product-name {
    padding-left: 20px;
    padding-right: 20px;
    color: #b5b6b8;
    font-size: 14px;
    
}


.product-subtotal {
    color: #b5b6b8;
    font-size: 14px;
}

.product-name p {
   
    font-family: 'Secular One';
    font-size: 18px;
    color: #272f3d
}

.product-name1 {
    font-family: 'Secular One';
    color: #272f3d;
    font-size: 18px;
}

.product-name1 {
    @media screen and (min-device-width: 320px) and (max-device-width: 480px){
    margin-top: -2rem;
    }
}

.product-name1 {
    @media screen and (min-device-width: 768px) and (max-device-width: 1024px){
    margin-top: 2.5rem;
    }
}



.line {
    border: solid 0.0001rem rgb(202, 202, 202);
    width: 770px;
    margin-bottom: 1rem;
    margin-left: 0.7rem;
}

.line {
    @media screen and (min-device-width: 320px) and (max-device-width: 480px){
    width:250px;
    }
}



.product-subtotal {
    margin-left: -4rem;
}
.subtotal-price {
    margin-left: 120px;
    font-family: 'Secular One';
    font-size: 18px;
    color: #272f3d
}

.subtotal-price{
    @media screen and (min-device-width: 320px) and (max-device-width: 480px){
        margin-left: 0px;
        margin-top: -1rem;
    }

}

.subtotal-price{
    @media screen and (min-device-width: 768px) and (max-device-width: 1024px){
        margin-left: 0px;
        margin-top: 5rem;
    }

}

.total-title {
    font-family: "Fredoka One", "Helvetica", "Arial", sans-serif;
    font-size: 30px;
    color: #272f3d
}

.total-items {
    font-family: "Fredoka One";
    font-size: 25px;
}

.total-price {
    font-family: "Fredoka One";
    color: red;
    font-size: 30px;
    margin-bottom: 10px;
}

.btn-checkout button{
    font-size: 20px;
}

.empty{
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    
}



.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-3 {
    @media screen and (min-device-width: 320px) and (max-device-width: 480px) {
        flex-direction : column;
        
    }
}

.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-2 {
    @media screen and (min-device-width: 320px) and (max-device-width: 480px){
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    }
}

.cont-image-name {
    display: flex;
    align-items: center;
}

.cont-image-name {
    @media screen and (min-device-width: 320px) and (max-device-width: 480px){
        display: flex;
        flex-direction: column;
        align-items: center;
   
    
}
}
.cont-image-name {
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
    display: flex;
    flex-direction: column;
    align-items: center; 
}
}

.titel-psp p{
    @media screen and (min-device-width: 320px) and (max-device-width: 480px){
        color: white;
        margin-top: -5rem;
    }

    @media screen and (min-device-width: 768px) and (max-device-width: 1024px){
        color: white;
    }

}

.MuiGrid-container {
    @media screen and (min-device-width: 320px) and (max-device-width: 480px){
        align-items: center;
    }
}

.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-6.MuiGrid-grid-md-4 {
    @media screen and (min-device-width: 320px) and (max-device-width: 480px){
        max-width: 100%;
    }
}

.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-6.MuiGrid-grid-md-8 {
    @media screen and (min-device-width: 320px) and (max-device-width: 480px){
        max-width: 100%;
    }
}



.line-total {
    @media screen and (min-device-width: 320px) and (max-device-width: 480px){
        width:250px;
        border: solid 0.0001rem rgb(202, 202, 202);
        margin-bottom: 1rem;
        margin-left: 0.7rem;
        
    }
}

.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-6.MuiGrid-grid-md-4 {
    @media screen and (min-device-width: 768px) and (max-device-width: 1024px){
        flex-direction: column;
    }

}

.MuiGrid-grid-xs-6 {
    @media screen and (min-device-width: 768px) and (max-device-width: 1024px){
        max-width: 100%;
    }
}

.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-2 {
    @media screen and (min-device-width: 768px) and (max-device-width: 1024px){
    max-width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
}


					